body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.menu {
  border-color: black;
  border: solid rgb(136, 135, 135) 2px;
  padding: 10px; 
}
.menu a {
  color: gray;
}

.gardens {
  color:#565182;
}
.gardens div {
  padding: 2%;
  float: left; 
  width: 46%;
  text-align: center;
}

.add-garden-button{
  padding-top: 16px;
}

.gardens img {
  height: 100%;
  width: 100%;
}

.garden-show-page__image {
  width: 100%;
}

.gardens .delete-button {
  margin-top: 10px;
}

.plant-box {
  margin-right: 8rem
} 


.plants {
  position: fixed;
  display: flex; 
  flex-direction: row; 
  margin-top: -270px;
  margin-left: 400px
}

#volunteer-list {
  padding: 0;
  margin: 0;
}

.volunteer-item {
  margin-bottom: 10px;
  border-bottom: 2px solid #52525d;
}

.item-label {
  display: inline-block;
  width: 80px;
  text-align: right;
  font-weight: bold;
}

.item-value {
  display: inline-block;
  margin-left: 10px;
}

ul {
  list-style-type: none;
}



#add-volunteer-form{
  padding: 1%;
}

#volunteer-list form button {
  width: 30px; 
  height: 30px; 
}

li {
  white-space: nowrap;
}

.plant-categories{
  display: inline-block;
  margin: 0 80px;
  margin-bottom: 80px;
}

.inline-list{
  text-align: center;
}

.inline-list ul {
  list-style: none;
  padding: 0;
}

.inline-list li {
  display: inline;
  margin-right: 10px; /* optional, adds some spacing between list items */
}
.inline-list a {
  font-size: medium;
}
