body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.menu {
  border-color: black;
  border: solid rgb(136, 135, 135) 2px;

}
.menu a {
  color: gray;
}

.gardens {
  color:#565182;
}
.gardens div {
  padding: 2%;
  float: left; 
  width: 46%;
  text-align: center;
}


.gardens img {
  height: 100%;
  width: 100%;
}

.garden-show-page__image {
  height: 25%;
  width: 25%;
  float: top; 
}




/* .plants {
  position: fixed;
  position:absolute;
  
} */

.plant-box {
  margin-right: 8rem
} 


.plants {
  position: fixed;
  display: flex; /* Set display to flex */
  flex-direction: row; /* Stack items vertically */
  margin-top: -270px;
  margin-left: 400px
}

