body {
  background: linear-gradient(to top, #cce9cc, #2f972f);
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  /* color: #00B7FF; */
  color: #0b171b;
}

.menu {
  border-color: black;
  /* border: solid rgb(136, 135, 135) 2px; */
  border: solid rgb(3, 3, 3) 2px;
  padding: 10px; 
}
.menu a {
  /* color: gray; */
  color: rgb(27, 23, 23);
}

.gardens {
  color:#565182;
}
.gardens div {
  padding: 2%;
  float: left; 
  width: 46%;
  text-align: center;
}

.add-garden-button{
  padding-top: 16px;
}

.add-plant-button {
  padding-top: 16px;
}

.gardens img {
  height: 100%;
  width: 100%;
}

.garden-show-page__image {
  width: 100%;
}

.gardens .delete-button {
  margin-top: 10px;
}



.plants {
  position: fixed;
  display: flex; 
  flex-direction: row; 
  margin-top: -270px;
  margin-left: 400px
}

#volunteer-list {
  padding: 0;
  margin: 0;
}

.volunteer-item {
  margin-bottom: 10px;
  border-bottom: 2px solid #52525d;
}

.item-label {
  display: inline-block;
  width: 80px;
  text-align: right;
  font-weight: bold;
}

.item-value {
  display: inline-block;
  margin-left: 10px;
}

ul {
  list-style-type: none;
}



#add-volunteer-form{
  padding: 1%;
}

#volunteer-list form button {
  width: 30px; 
  height: 30px; 
}

li {
  white-space: nowrap;
}

.plant-categories{
  display: inline-block;
  margin: 0 80px;
  margin-bottom: 80px;
}

.inline-list{
  text-align: center;
}

.inline-list ul {
  list-style: none;
  padding: 0;
}

.inline-list li {
  display: inline;
  margin-right: 10px; 
}
.inline-list a {
  font-size: medium;
}

#new-form {
  padding: 6%;
  display: flex; 
  flex-direction: column; 
  margin-bottom: 30px;
  margin: auto; 
  width: 20%; 
}

form#new-form label {
  margin-top: 50px; 
}



.plant-image {
  width: 300px; 
}

.plant-delete-button {
 margin-top: auto;
 margin-left: -300px;
}

#add-plant-form {
  padding: 15% 5%; 
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin: auto;
  width: 30%; 
  width: 20%; 
}

#add-plant-form label,
#add-plant-form select,
#add-plant-form input[type="text"] {
  margin-bottom: 10px; 
}

.plant-items{
padding-top: 9%;
text-align: center;
}

.plant-attribute {
  padding-top: 1%;
  margin: 10px;
}




