<%- include('../partials/header') %>
<!-- <h2>Home Page</h2> -->
<div class="menu">
    <a href = "homepage">HOME</a>
    <a href = "/gardens">GARDENS</a>
</div>
<div class = "gardens">
   <div id="garden1"> 
        <a href = "garden1">
            <img src="/images/garden1.jpeg"/>
            Pheonix Brooklyn Garden
        </a>
    </div>
    <div id="garden2"> 
        <a href = "garden1">
            <img src="/images/garden1.jpeg"/>
            Pheonix Brooklyn Garden
        </a>
    </div>
    <div id="garden3"> 
        <a href = "garden1">
            <img src="/images/garden1.jpeg"/>
            Pheonix Brooklyn Garden
        </a>
    </div>
    <div id="garden4"> 
        <a href = "garden1">
            <img src="/images/garden1.jpeg"/>
            imgPheonix Brooklyn Garden
        </a>
    </div>
</div>

<%- include('../partials/footer') %>